*{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: black;
    justify-content: center;
    display: flex;
    height: 60px;
    z-index: 1;
    position: sticky;
}
nav ul{
    color: beige;
    display: flex;
}
nav ul li a{
    justify-content: space-evenly;
    color: gray;
    text-decoration: none;
    margin: 10px;
    margin-top: -100px;
    
}
video{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
    text-shadow: 2px 3px 4px;
    font-weight: bold;

}
h2{
    color: rgb(63, 63, 63);
}
span{
    color: gray;
    font-weight: bolder;
}
#home{
    display: flex;
    flex-direction: column;
    height: 500px;
    text-align: center;
}
#home::before{
    content: "";
    background-image: url(https://images.unsplash.com/photo-1498814217031-5a856f4a18ac?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    border: 2px inset rgb(83, 83, 83);
    padding: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 750px;
    left: 70%;
    box-shadow: 4px 5px;
}
.overlay{
    position: absolute;
    top: 30%;
    left: 40%;
}
.pic{
    display: flex;
}
.pic img{
    width: 400px;
}
h3{
    color: rgb(48, 48, 48);
    text-align: center;
    font-weight: bold;
    margin: 10px;
    text-shadow: 2px 3px 4px;
    margin-right: -400px;
}
.pic p{
    text-align: justify;
    margin: 30px;
}
.pic h4{
    color: black;
    font-weight: bold;
    text-align: center;
}
i{
    margin: 10px;
}
.gallery{
 justify-content: space-evenly;
 box-shadow: 3px 4px 5px 6px gray;
}
.gallery img{
    width: 400px;
    height: 220px;
    margin: 35px;
    margin-bottom: 10px;
}
.projects{
    margin-right: 0px;
}
.gallery img:hover{
     box-shadow: 3px 4px 5px 6px gray;
}
.row{
    display: flex;
}
.box{
    height: 550px;
    width: 400px;
    margin: 20px;
    background: linear-gradient(to top, rgb(82, 52, 52)50%, rgb(64, 64, 64)50%);
    background-size: 100% 200%;
    transition: all 0.6s;
}
.box img{
    width: 100%;
}
.box:hover{
    background-position: right bottom;
    border: 4px ridge rgb(54, 54, 54);
    box-shadow: 3px 4px 6px rgb(60, 60, 60);
}
.box h4{
    text-align: center;
    
}
.box p{
    text-align: justify;
}
form{
    width: 500px;
    margin-left: 500px;
}
.input{
    width: 100%;
    margin: 10px;
}
button{
    color: aliceblue;
    background-color: black;
}
.cv{
    background-color: black;
    color: aliceblue;
    padding: 5px;
    margin-left: 85%;
}

